body {
    background-color: antiquewhite;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.jumbotron-fluid {
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 5px dotted rgba(0, 0, 0, 0.514);
}

#weatherResults {
    color: black;
    font-size: 17.5px;
    font-style: oblique;
    font-weight: bold;
}
